
    <%- include("partials/header") %>

<section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title"><%= title %></h3>
                <div class="article-data">
                    <span><%= date %></span>
                    <span class="article-data-spacer"></span>
                    <span><%= time %> min read</span>
                </div>
                <img src="/images/featured/featured-1.jpg" alt="">
            </div>

            <div class="container">
                <p>
                  <%= content %>
                </p>

               
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>
     

<!-- 
<blockquote class="quote">
    <p><span><i class="ri-double-quotes-l"></i></span> Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Officia voluptates, laboriosam voluptatum quos non consequuntur nesciunt
        necessitatibus tempora quod inventore corporis rem nihil itaque, at provident minus aliquam
        veritatis. Labore? <span><i class="ri-double-quotes-r"></i></span></p>
</blockquote>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eius possimus hic eligendi
    distinctio rerum incidunt, esse quasi eum molestiae ducimus ipsam quae, aliquid ullam placeat
    dolorum nulla vero. Quam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod
    necessitatibus, aspernatur pariatur asperiores earum quas adipisci veritatis quidem facilis! Nihil
    veniam quaerat nulla possimus, asperiores vero voluptatum placeat. Eveniet!
</p>

<div class="author d-grid">
    <div class="author-image-box">
        <img src="./assets/images/older_posts/older_posts_3.jpg" alt="" class="article-image">
    </div>
    <div class="author-about">
        <h3 class="author-name">Pranav Dhawale</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis repellat rerum, possimus
            cumque dolor repellendus eligendi atque explicabo exercitationem id.</p>
        <ul class="list social-media">
            <li class="list-item">
                <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
            </li>
            <li class="list-item">
                <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
            </li>
            <li class="list-item">
                <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
            </li>
        </ul>
    </div>
</div>
        </div>
</section>
    -->


